.curr-card-container {
    display: flex;
    gap: 20px;
}

.curr-card {
    max-width: 364px;
    padding: 40px;
    border-radius: 10px;
}

.curr-card:nth-child(1) {
    background-color: #FF4C1E0D;
}

.curr-card:nth-child(2) {
    background-color: #004CE80D;
}

.curr-card:nth-child(3) {
    background-color: #FFDF000D;
}
