.target-title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.next-card-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.next-card{
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.card-column-img{
    min-width: 150px;
}